---
# We should aim to fix the code and re-enable most of the rules here.
Checks: >
    bugprone-*,
    clang-analyzer-*,
    clang-diagnostic-*,
    cppcoreguidelines-*,
    modernize-*,hicpp-*,
    performance-*,
    portability-*,
    readability-*,
    -bugprone-easily-swappable-parameters,
    -clang-analyzer-core.CallAndMessage,
    -clang-analyzer-optin.cplusplus.UninitializedObject,
    -clang-diagnostic-unused-parameter,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-init-variables,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -hicpp-explicit-conversions,
    -hicpp-no-array-decay,
    -modernize-pass-by-value,
    -modernize-use-trailing-return-type,
    -performance-unnecessary-value-param,
    -readability-container-size-empty,
    -readability-function-cognitive-complexity,
    -readability-implicit-bool-conversion,
    -readability-inconsistent-declaration-parameter-name,
    -readability-magic-numbers
CheckOptions:
  # We use short variables like "w"
  - key:   readability-identifier-length.MinimumVariableNameLength
    value: 1
  # We use short parameters like "w"
  - key:   readability-identifier-length.MinimumParameterNameLength
    value: 1
