name: CI
on: [push, pull_request]
defaults:
  run:
    shell: bash
jobs:
  check:
    uses: ./.github/workflows/check.yml

  package:
    needs: check
    uses: ./.github/workflows/package.yml

  test-coverage:
    needs: check
    uses: ./.github/workflows/test-coverage.yml
